certs
node_modules
public/bundle.js
public/bundle.js.map
public/decks
public/images/artworks
public/images/brackets
public/images/cards
public/images/decks
public/images/emojis
public/images/logos
public/images/pfps
secrets.js
.DS_Store
npm-debug.log
yarn-error.log
