# Development Env vars

# Server
SERVER_HTTPS=false
SERVER_HOST=localhost
SERVER_PORT=8080

# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=user
DATABASE_PASSWORD=secret

# TCG Player
TCG_PLAYER_ACCESS_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# TCG_PLAYER_EXPIRES_IN=1209599
# TCG_PLAYER_USERNAME=xxxxxxx-xxxx-xxxx-xxxx-xxxxxxx
# TCG_PLAYER_ISSUED="Thu, 12 May 2022 02:17:30 GMT"
# TCG_PLAYER_EXPIRES="Thu, 26 May 2022 02:17:30 GMT"
# TCG_PLAYER_PUBLIC_KEY=xxxxxxx-xxxx-xxxx-xxxx-xxxxxxx
# TCG_PLAYER_PRIVATE_KEY=xxxxxxx-xxxx-xxxx-xxxx-xxxxxxx

# Challonge
CHALLONGE_FORMAT_LIBRARY_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CHALLONGE_GOAT_FORMAT_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CHALLONGE_EDISON_FORMAT_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CHALLONGE_CROWS_NEST_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx