body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr {
  text-align: center;
  margin: 0px;
}

hr {
  border: 2px solid black;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td,
tr {
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-family: arial;
  font-weight: bold;
}

.logo {
  color: white;
}

.nav-bar {
  padding: 5px 0px;
  border: 10px solid black;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  color: #ede6e6;
  background-color: black;
}

#flexbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

#galleryFlexBox {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1080px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#description {
  padding: 0.36em 0.36em;
  border: 0.1em solid #000000;
  margin: 0.1em 0.5em 0.2em 0.5em;
}

#logo {
  align-items: left;
}

#title {
  text-align: center;
  font-family: arial;
  flex-grow: 3;
}

#searchBar {
  font-size: 14pt;
  width: 65%;
  border: 1px solid black;
  padding: 4px;
  margin: 0px 8px;
}

.h2 {
  text-align: center;
  font-size: 30px;
  font-family: arial;
  padding: 0px;
  margin: 0px 0px 50px 0px;
}

.portraits:hover {
  box-shadow: -2px 2px 5px 4px #737373;
  cursor: pointer;
}

.results {
  width: 300px;
  text-align: left;
  font-size: 20px;
  font-family: arial;
  margin: 0px 8px;
  padding: 4px;
}

.pagination {
  display: flex;
  min-width: 410px;
  margin: 0px 8px;
  padding: 4px;
  align-items: center;
  justify-content: center;
}

.pageButton {
  display: inline-block;
  padding: 5px 5px;
  border: 0.1em solid black;
  margin: 0 0.15em 0.3em 0.15em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  width: 40px;
  height: 40px;
  line-height: 30px;
  color: black;
  background-color: #f5f7fa;
  background-size: 30px;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
  transition: all 0.2s;
}

.pageButton:hover {
  cursor: pointer;
  font-weight: 800;
  color: white;
  background-color: #6d6f8a;
}

.optionButton,
.clickedOptionButton {
  display: inline-block;
  padding: 6px 6px 6px 30px;
  border: 1px solid #000000;
  margin: 0.1em 0.3em 0.1em 0em;
  min-width: 102px;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  text-align: left;
  transition: all 0.15s;
  background-repeat: no-repeat;
  background-position: 2px;
  background-size: 24px;
  vertical-align: middle;
}

.optionButton {
  color: black;
  background-color: #f5f7fa;
}

.clickedOptionButton {
  color: white;
  font-weight: 600;
  background-color: #6d6f8a;
}

.attributeButton,
.clickedAttributeButton {
  display: inline-block;
  padding: 6px 6px 6px 30px;
  border: 1px solid #000000;
  margin: 0.1em 0.3em 0.1em 0em;
  min-width: 88px;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  text-align: left;
  transition: all 0.15s;
  background-repeat: no-repeat;
  background-position: 2px;
  background-size: 24px;
  vertical-align: middle;
}

.attributeButton {
  color: black;
  background-color: #f5f7fa;
}

.clickedAttributeButton {
  color: white;
  font-weight: 600;
  background-color: #6d6f8a;
}

.typeButton,
.clickedTypeButton {
  display: inline-block;
  padding: 6px 6px 6px 30px;
  border: 1px solid #000000;
  margin: 0.1em 0.3em 0.1em 0em;
  min-width: 120px;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  text-align: left;
  transition: all 0.15s;
  background-repeat: no-repeat;
  background-position: 2px;
  background-size: 24px;
  vertical-align: middle;
}

.typeButton {
  color: black;
  background-color: #f5f7fa;
}

.clickedTypeButton {
  color: white;
  font-weight: 600;
  background-color: #6d6f8a;
}

.monsterButton,
.clickedMonsterButton {
  display: inline-block;
  padding: 6px 6px 6px 6px;
  border: 1px solid #000000;
  margin: 0.1em 0.3em 0.1em 0em;
  min-width: 110px;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  transition: all 0.15s;
  background-repeat: no-repeat;
  background-position: 4px;
  background-size: 16px;
  vertical-align: middle;
}

.monsterButton {
  color: black;
  background-color: #f5f7fa;
}

.clickedMonsterButton {
  color: white;
  font-weight: 600;
  background-color: #6d6f8a;
}

.single-card-image {
  float: left;
  margin: 0px 0px 0px 4%;
  width: 300px;
}

.single-card-table {
  padding: 10px;
  float: left;
  margin-left: 30px;
  max-width: 720px;
  width: 60%;
}

.single-card-title {
  text-align: left;
  font-size: 30px;
  width: 650px;
  border-bottom: 2px solid #9ba9cc;
}

.single-card-standard-row {
  align-content: left;
  vertical-align: middle;
  font-size: 24px;
  border-bottom: 2px solid #9ba9cc;
}

.single-card-bottom-row {
  align-content: left;
  vertical-align: middle;
  font-size: 24px;
  border-top: 2px solid #9ba9cc;
  border-bottom: 2px solid #9ba9cc;
}

.single-card-date-row {
  text-align: left;
  vertical-align: bottom;
  height: 60px;
  font-size: 18px;
}

.single-card-cardType {
  height: 40px;
}

.single-card-symbol {
  height: 32px;
}

.single-card-symbol-td {
  width: 40px;
  text-align: center;
}

.single-card-label-td {
  width: 140px;
}

.single-card-label-inner-td {
  width: 140px;
  border-right: 2px solid #9ba9cc;
}

.single-card-large-label-td {
  width: 300px;
}

.single-card-description-box {
  padding: 10px 20px 40px 20px;
  text-align: justify;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin: 0px 0px 30px 0px;
}

.blank-row {
  height: 20px !important;
  border-bottom: 2px solid #9ba9cc !important;
}

.status-cell {
  position: relative;
  min-width: 10px;
  width: 25px;
  height: 50px;
  border: 1px solid black;
}

.status-cell:hover {
  border: 3px solid black;
  border-radius: 6px;
}

.status-cell p {
  border-radius: 5px;
  position: absolute;
  text-align: center;
  top: -56px;
  left: -26px;
  z-index: 1;
  width: 60px;
  border: 1px solid black;
  padding: 5px;
  background-color: white;
  display: none;
  color: black;
}

.status-cell:hover p {
  display: block;
}

.status-box {
  padding: 6px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
}

#to-end {
  background-image: url('./images/toEnd.png');
  background-position: 65%;
}

#to-start {
  background-image: url('./images/toStart.png');
  background-position: 35%;
}

#normal-monster {
  background-image: url('./images/monsterCard.jpg');
}

#effect {
  background-image: url('./images/effectCard.png');
}

#fusion {
  background-image: url('./images/fusionCard.jpg');
}

#ritual-monster {
  background-image: url('./images/ritualCard.jpg');
}

#synchro {
  background-image: url('./images/synchroCard.png');
}

#xyz {
  background-image: url('./images/xyzCard.png');
}

#pendulum {
  background-image: url('./images/pendulumCard.png');
}

#flip {
  background-size: 24px;
  background-image: url('./images/flip.png');
}

#gemini {
  background-size: 24px;
  background-image: url('./images/gemini.png');
}

#spirit {
  background-size: 22px;
  background-image: url('./images/spirit.png');
}

#toon {
  background-size: 22px;
  background-image: url('./images/toon.png');
}

#tuner {
  background-size: 24px;
  background-image: url('./images/tuner.png');
}

#union {
  background-size: 24px;
  background-image: url('./images/union.png');
}

#link {
  background-image: url('./images/linkCard.png');
}

#dark {
  background-image: url('./images/dark.png');
}

#light {
  background-image: url('./images/light.png');
}

#earth {
  background-image: url('./images/earth.png');
}

#wind {
  background-image: url('./images/wind.png');
}

#water {
  background-image: url('./images/water.png');
}

#fire {
  background-image: url('./images/fire.png');
}

#divine {
  background-image: url('./images/divine.png');
}

#continuous {
  background-image: url('./images/continuous.png');
}

#counter {
  background-image: url('./images/counter.png');
}

#normal {
  background-image: url('./images/normal.png');
}

#equip {
  background-image: url('./images/equip.png');
}

#ritual {
  background-image: url('./images/ritual.png');
}

#field {
  background-image: url('./images/field.png');
}

#quick-play {
  background-image: url('./images/quick-play.png');
}

#aqua {
  background-image: url('./images/aqua.png');
}

#beast {
  background-image: url('./images/beast.png');
}
#beast-warrior {
  background-image: url('./images/beast-warrior.png');
}
#cyberse {
  background-image: url('./images/cyberse.png');
}
#dinosaur {
  background-image: url('./images/dinosaur.png');
}
#divine-beast {
  background-image: url('./images/divine-beast.png');
}
#dragon {
  background-image: url('./images/dragon.png');
}
#fairy {
  background-image: url('./images/fairy.png');
}
#fiend {
  background-image: url('./images/fiend.png');
}
#fish {
  background-image: url('./images/fish.png');
}
#insect {
  background-image: url('./images/insect.png');
}
#machine {
  background-image: url('./images/machine.png');
}
#plant {
  background-image: url('./images/plant.png');
}
#psychic {
  background-image: url('./images/psychic.png');
}
#pyro {
  background-image: url('./images/pyro.png');
}
#reptile {
  background-image: url('./images/reptile.png');
}
#rock {
  background-image: url('./images/rock.png');
}
#sea-serpent {
  background-image: url('./images/sea-serpent.png');
}
#spellcaster {
  background-image: url('./images/spellcaster.png');
}
#thunder {
  background-image: url('./images/thunder.png');
}
#warrior {
  background-image: url('./images/warrior.png');
}
#winged-beast {
  background-image: url('./images/winged-beast.png');
}
#wyrm {
  background-image: url('./images/wyrm.png');
}
#zombie {
  background-image: url('./images/zombie.png');
}

.attributeButton:hover,
.typeButton:hover,
.optionButton:hover,
.monsterButton:hover {
  cursor: pointer;
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: black;
  font-weight: 800;
}

.clickedAttributeButton:hover,
.clickedTypeButton:hover,
.clickedOptionButton:hover,
.clickedMonsterButton:hover {
  cursor: pointer;
}

.searchButton {
  display: inline-block;
  padding: 0.36em 0.84em;
  border: 1px solid #000000;
  border-radius: 0.5em;
  margin: 0.1em 0.5em 0.2em 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #ede6e6;
  background-color: black;
  text-align: center;
  transition: all 0.15s;
}

.searchButton:hover {
  cursor: pointer;
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: black;
  background-color: #ede6e6;
  border-color: #ede6e6;
}

.refinedButton {
  display: inline-block;
  padding: 0.36em 0.84em;
  width: 50%;
  max-width: 250px;
  border: 1px solid #000000;
  border-radius: 0.5em;
  margin: 0.8em 0.5em 0.8em 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  color: #ede6e6;
  background-color: black;
  text-align: center;
  transition: all 0.15s;
}

.refinedButton:hover {
  cursor: pointer;
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: black;
  background-color: #ede6e6;
  border-color: #ede6e6;
}

@media all and (max-width: 30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}

#vertFlexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.flexy {
  display: flex;
  flex-direction: row;
  justify-content: left;
  vertical-align: text-top;
  align-items: flex-start;
}

.buttonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.paginationWrapper {
  width: 90%;
  min-width: 764px;
  padding: 4px 4px 2px 4px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.resultsWrapper0 {
  width: 90%;
  min-width: 764px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 4px 2px 4px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.sliderWrapper0 {
  min-width: 760px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: left;
}

.sliderWrapper1 {
  min-width: 375px;
}

.wrapper0 {
  border-style: solid;
  border-color: black;
  border-width: 8px 4px 8px 4px;
}

.wrapper1 {
  border-style: solid;
  border-color: gray;
  border-width: 3px 3px 3px 3px;
  font-size: 15px;
  font-family: arial;
}

.wrapper2 {
  width: 100%;
  display: table;
  text-align: center;
  padding: 2px;
  background-color: gray;
  font-size: 15px;
  font-family: arial;
}

.searchWrapper {
  width: 90%;
  min-width: 764px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 4px 4px 2px 4px;
  font-size: 15px;
  font-family: arial;
}

.refinedWrapper {
  width: 90%;
  min-width: 764px;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: table;
  text-align: center;
  padding: 2px 4px 4px 4px;
  font-size: 15px;
  font-family: arial;
}

.refinedInnerWrapper {
  margin-top: 5px;
  margin-bottom: 5px;
}

.wrapper3 {
  display: inline-block;
  vertical-align: 2px;
  text-align: right;
  margin: 0px 4px 0px 0px;
  font-size: 15px;
  font-family: arial;
}

.wrapper4 {
  display: inline-block;
  text-align: left;
  margin: 0px 1px 0px 0px;
  font-size: 15px;
  font-family: arial;
}

select {
  display: inline;
  font-size: 15px;
  font-family: arial;
  font-weight: 700;
  color: #000000;
  line-height: 1.3;
  padding: 6px 4px;
  box-sizing: border-box;
  margin: 0.1em 0.5em 0.2em 0.5em;
  border: 1px solid black;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  background-color: #e0e0eb;
}

select::-ms-expand {
  display: none;
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #000000;
  outline: none;
}

select option {
  font-weight: normal;
}

#myTable {
  border-top: 2px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: #565769;
  margin-bottom: 5px;
  vertical-align: middle;
  margin-left: 4%;
  margin-right: 4%;
}

#map {
  max-width: 90%;
  height: 500px;
  padding-left: 5%;
  padding-right: 5%;
}

#welcome {
  padding-top: 180px;
  padding-bottom: 300px;
  padding-left: 30%;
  padding-right: 30%;
}

#inner-welcome {
  border: 5px solid black;
  color: black;
  padding: 15px;
  max-width: 100%;
  border-radius: 20px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
