body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr {
  text-align: center;
  margin: 0px;
}

hr {
  border: 2px solid black;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td,
tr {
  padding: 10px;
}

.h1 {
  text-align: center;
  font-size: 50px;
  font-family: arial;
  font-weight: bold;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

.h2 {
  text-align: center;
  font-size: 30px;
  font-family: arial;
  padding: 0px;
  margin: 0px 0px 50px 0px;
}

.results {
  text-align: left;
  font-size: 24px;
  font-family: arial;
  padding: 0px;
}

.wrapper0 {
  border-style: solid;
  border-color: black;
  border-width: 8px 4px 8px 4px;
}

.wrapper1 {
  border-style: solid;
  border-color: gray;
  border-width: 3px 3px 3px 3px;
  font-size: 15px;
  font-family: arial;
}

.wrapper2 {
  width: 100%;
  display: table;
  text-align: center;
  padding: 2px;
  background-color: gray;
  font-size: 15px;
  font-family: arial;
}

.wrapper3 {
  display: inline-block;
  vertical-align: 2px;
  text-align: right;
  margin: 0px 4px 0px 0px;
  font-size: 15px;
  font-family: arial;
}

.wrapper4 {
  display: inline-block;
  text-align: left;
  margin: 0px 1px 0px 0px;
  font-size: 15px;
  font-family: arial;
}

select {
  height: 26px;
  margin: 1px 1px 1px 1px;
  width: 115px;
  background: #e0e0eb;
  font-size: 15px;
  font-family: arial;
}

.nav-item {
  color: black;
  text-transform: uppercase;
  transition: 0.3s all ease;
  padding-bottom: 0.3rem;
  border-bottom: 1px transparent;
}

.nav-item:hover {
  color: #1a783e;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #1a783e;
}

.all-sightings-container {
  padding: 0 3rem;
}

.all-sightings {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
}

.single-sighting {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
}

.sighting-image {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.single-sighting-image {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sighting-description {
  text-align: center;
}

.all-species-container {
  padding: 0 3rem;
}

.all-species {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}

.single-species {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
}

.species-image {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.single-species-image {
  max-width: 300px;
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.species-description {
  text-align: center;
}

/* NEW SIGHTING FORM */
.form-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-left: 40%;
  padding-right: 40%;
  width: 15rem;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-input {
  border: 1px solid rgb(182, 182, 182);
  display: block;
  width: 100%;
  border-radius: 5px;
  font-size: 0.8rem;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-button {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
  text-transform: uppercase;
  font-size: 0.8rem;
  background: navy;
  color: #fff;
  border: 1px solid navy;
  transition: 0.2s all ease;
  cursor: pointer;
}

.form-button:hover {
  background: #fff;
  color: navy;
}

/* AUTH FORM */

.auth-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.auth-item input {
  padding: 0.3rem 0;
  border: none;
  border-bottom: 1px solid #666;
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
  width: 18rem;
}

.auth-item .btn {
  margin-right: 1rem;
}

.auth-item:last-child {
  margin-top: 1.5rem;
}

#title {
  padding-top: 2%;
}

#navbar {
  color: black;
  font-size: larger;
}

#map {
  max-width: 90%;
  height: 500px;
  padding-left: 5%;
  padding-right: 5%;
}

#welcome {
  padding-top: 180px;
  padding-bottom: 300px;
  padding-left: 30%;
  padding-right: 30%;
}

#inner-welcome {
  border: 5px solid black;
  color: black;
  padding: 15px;
  max-width: 100%;
  border-radius: 20px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
