Yugi-Kaiba is the first Yu-Gi-Oh! TCG format, including only Legend of Blue-Eyes White Dragon (LOB) and the first
Starter Decks, Yugi (SDY) and Kaiba (SDK). There are a few Effect Monsters, a handful of power Spells, and simple spot
removal. Battle Phase dynamics are important, with cards like Waboku and Reinforcements to consider. This is Yu-Gi-Oh!
in its simplest form; some affectionately refer to it as "chess".

Critter, named after the OCG's Sangan, is the second Yu-Gi-Oh! TCG format. Since Yugi-Kaiba, only Metal Raiders (MRD)
has been introduced, notably adding a plethora of Effect Monsters, Heavy Storm, and Solemn Judgment. For the
first time, we begin to see a true split in play-styles between Aggro and Control. Players can now set up win conditions
via OTKs, and more powerful Effect Monsters create interesting threats and dynamics.

Android, named after the OCG's Jinzo, is an early Duel Monsters era format. Since Critter, Magic Ruler (MRL), Pharaoh's
Servant (PSV), and Labyrinth of Nightmare (LON) are introduced. Notable additions include new beaters, recruiters,
Jinzo, discard Spells, and Imperial Order. This format is more explosive, with more non-games due to first turn
imbalances. Nonetheless, it has a lot of charm, with triangle dynamics between various cards.

Yata is a Duel Monsters era format that predates the first ban list. Since Android, Legacy of Darkness (LOD) and
Pharaonic Guardian (PGD) are introduced. The format is dominated by Hand Control, which aims to strip resources from the
opponent's hand. Games often end in "Yata locks", where the player in control repeatedly summons and attacks directly
with Yata-Garasu, skipping their opponent's Draw Phase for the rest of the duel.

Vampire is a Duel Monsters era format that predates the first ban list. Since Yata, Magician's Force (MFC) and Dark
Crisis (DCR) are introduced. Notable additions include Breaker the Magical Warrior, Magical Scientist, Tribe-Infecting
Virus, D.D. Warrior Lady, and Vampire Lord. Gameplay is fairly similar, though Hand Control is largely replaced by
Warrior Control, and rogue decks such as Zombie and Scientist FTK have become more viable.

Chaos is a Duel Monsters era format that predates the first ban list. Since Vampire, Invasion of Chaos (IOC), a set that
changed the nature of the game, and Ancient Sanctuary (AST) are introduced. The format revolves around summoning two of
the most powerful cards ever printed: Black Luster Soldier - Envoy of the Beginning and Chaos Emperor Dragon - Envoy of
the End. LIGHT and DARK monsters are now more valuable than ever.

Warrior is a Duel Monsters era format that was also the first to feature a ban list. Notably, Chaos Emperor Dragon -
Envoy of the End and Yata-Garasu were banned, shifting gameplay back to its roots of grinding out advantage in the
battle phase. During this format, The Shonen Jump Championship series began, and Metagame.com coverage kicked into high
gear, bringing the competitive side of the game to a world audience.

Goat is a GX era format and the most popular retro Yu-Gi-Oh! TCG format, backed by strong community support and a trove
of resources. Its name comes from the historically successful Goat Control deck, however, this deck is no longer
regarded as top tier. Goat Format is simple, interactive, and dynamic, requiring players to use skills such as reading,
bluffing, risk assessment, and resource management. It largely lacks pre-built archetypes.

Cyber is a GX era format that shares a ban list with the more popular Goat Format. As its name suggests, it includes the
addition of Cybernetic Revolution (CRV), a set that changed the nature of the game. Cyber Dragon set a new bar for
beaters, and the Cyber Dragon fusions unlocked the full potential of cards like Cyber-Stein and Metamorphosis. The
format is largely regarded as a faster, more explosive version of Goat Format.

Reaper is a GX era format shaped by an aggressive ban list that hit Goat Control and combo decks like Empty Jar and
Stein OTK. Since Cyber, Elemental Energy (EEN) and Shadow of Infinity (SOI) are introduced. Notable additions include:
Treeborn Frog, Pot of Avarice, and the Dark World archetype. Despite an unclear hierarchy of archetypes, including Chaos
decks, Monarch decks, and Bazoo Return, Spirit Reaper proves to be near ubiquitous.

Chaos Return, with the return of Graceful Charity and multiple Magician of Faith, ushers in a brief period of
slower gameplay. Since Reaper, Enemy of Justice (EOJ) is introduced. Notable additions include: Banisher
of the Radiance, Dimensional Fissure, and Macro Cosmos. The format was dominated by Chaos decks, most memorably, Chaos
Return. As the metagame developed, Chaos Recruiter decks featuring Royal Decree began to emerge.

Edison Format is a Synchro-era format with a highly regarded banlist. It’s extremely popular and arguably the fastest
growing retro Yu-Gi-Oh! format. Its name comes from the 75th Shonen Jump Championship, which was held in Edison, New
Jersey. Edison is famous for its open-ended deck-building and highly diverse metagame. Unfortunately, it was
short-lived, as The Shining Darkness was legal at the next premier event, enabling the notorious Frog FTK deck.